
.card-container {
    width: 70%;
    height: 385px;
    background-color: var(--gray);
    border-radius: 15px;
    border: 2px solid var(--grayLight);
    margin: 0 auto 0 auto;
    /* margin-bottom: 5em; */
    padding: 2.5em;
    z-index: 5;
    position: relative;
}

.card-container h1 {
    font-size: 1.25rem

}

.card-container_inputs {
    display: flex;
    flex-direction: column;
    margin-top: 2.25em;
    margin-bottom: 1em;
}

.body-text {
    font-size: 0.875rem;
    color: var(--grayLightest);
    margin-bottom: 0.5em;
    margin-top: 0.25em;
}

.inputs {
    background: transparent;
    border: 2px solid var(--grayLighter);
    border-radius: 10px;
    padding: 1em;
    color: var(--white);
}

.inputs:focus {
    border: 2px solid var(--purpleLight);
    outline:0px solid purple;
}





/* Buttons */
.card-container_button {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    padding: 1em;
    /* margin-top: 0.5em; */
}

.card-container_button button{
    padding: 0.75em 2.5em;
    color: var(--white);
    border: transparent;
    background-color: var(--purpleLight);
    border-radius: 50px;
    font-weight: 600;

    margin-top: 1em;
    
}

.card-container_button button:hover {
    background-color: var(--purple);
}



.card-pages {
    /* bottom: -3em;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    gap: 1em;
    align-items: center;
    position: absolute;
    bottom: -2.5em;
    transform: translate(-50%, -50%);
    left: 40%;

}

.card-pages_dots span{
    font-size: 0.75rem;
    color: var(--grayLighter);
    margin-right: 1em;
}


.card-pages_dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.card-pages_dots .circle {
    width: 12px;
    height: 12px;
    background-color: var(--grayLight);
    border-radius: 50%;
} 

.card-pages_dots .current {
    background-color: var(--purple);
    /* box-shadow: 0px 0px 10px rgba(97, 47, 47, 0.5);
    border-radius: 50%; */
    outline: 4px solid #9a85d84f;
}

.body-text {
    position: relative;
}

.errorMessage {
    font-size:  0.7rem;
    text-align: right;
    position: absolute;
    bottom: -6.2em;
    left: 0;
    color: var(--purpleLight);
}


/* ///////////// STEP TWO OF THE PROCESS //////////// */
.card-container_choices {
    display: flex;
    flex-direction: column; 
    gap: 1em;
    margin-top: 2em;
    user-select: none;
}

.card-container_choices span{
    display: block;
    padding: 1.25em;
    background-color: var(--grayLight);
    border-radius: 12px;
    font-size: 0.875rem;
    border: 1px solid var(--grayLighter);
    cursor: pointer;
}

/* .card-container_choices span:hover{
    background-color: var(--purple);
    
} */



/* ///////////// STEP THREE OF THE PROCESS //////////// */

.card-container_results {
    margin-top: 1.5em;
   
}
/* 
.card-container_results .subText {
    line-height: 1.75em;
} */

.card-container_results .subText,
.emphasize {
    color: var(--grayLightest);
    line-height: 1.75em;
}


.interest-view-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 90px;
    margin-top: 0.5em;
}

.card-container_results .subText span {
    color: white;
}

.subText-topics {
    margin-top: 1em;
}

/*
.userInterestView::before {
    content: "\25CF"; /* Unicode character for a filled 
    color: red; 
*/



.step-three, 
.step-two {
    display: none;
}

span.selected {
    background-color: var(--purple);
    color: white;
}

.userInterestView {
   
    font-size: 1.15rem;
}

